.headerWrapper {
  width: 100vw;
  height: 64px;
  background-color: #16181c;
  display: flex;
  justify-content: center;
}

.headerCont {
  max-width: 1200px;
  width: 90%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerNav {
  display: flex;
  align-items: center;
}

.headerNav ul {
  display: flex;
  gap: 14px;
}

.headerNav li {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  transition: 0.3s;
  cursor: pointer;
}

.headerNav li:hover {
  color: #fab700;
}

.inputCont {
  display: flex;
  background-color: #1e2024;
  height: 44px;
  padding: 0 20px;
  border-radius: 4px;
}

.inputCont > div {
  display: flex;
  align-items: center;
}

.inputCont input {
  border: none;
  outline: none;
  background: none;
  color: #fff;
  width: 240px;
}

.inputCont svg {
  width: 20px;
  height: 20px;
  color: #fff;
  transition: 0.3s;
}

.inputCont svg:hover {
  color: #fab700;
}
